<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @todo.text %>
</p>

<h2>Comments</h2>
<%= render @todo.comments %>

<h2>Add comment</h2>
<%= render 'comments/form' %>

<%= link_to 'edit', edit_todo_path(@todo) %> | 
<%= link_to 'back', todos_path %>
